.about {
  flex-direction: column;
  margin-top: 10em;
  margin-bottom: 4em;
  text-align: center;
}


.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.profile-image {
  width: 400px; /* Adjust the width as desired */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
}


@media (max-width: 600px) {
  .about {
    align-items: flex-start;
    margin-top: em;
  }
}
