.app {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: var(--clr-fg);
    background-color: var(--clr-bg);
    padding-bottom: 45em; /* adjust as needed */
  }
  
  .light {
    --clr-bg: #edecda;
    --clr-bg-alt: #fff;
    --clr-fg: #111;
    --clr-fg-alt: #444;
    --clr-primary: #111;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .dark {
    --clr-bg: #111;
    --clr-bg-alt: #f2eebb;
    --clr-fg: #ddd;
    --clr-fg-alt: #ccc;
    --clr-primary: #f2eebb;
    --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  .section {
    margin-top: 5em;
  }
  
  .section__title {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  
  .center {
    display: flex;
    align-items: center;
  }
  
  .link {
    color: var(--clr-primary);
    padding: 0 0 0.3em 0;
    position: relative;
  }
  
  .link:hover {
    color: var(--clr-primary);
  }
  
  .link::before {
    content: '';
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: var(--clr-primary);
    transition: width 0.2s ease-in;
  }
  
  .link:hover::before,
  .link:focus::before {
    width: 100%;
  }
  
  .link--nav {
    color: var(--clr-fg);
    text-transform: lowercase;
    font-weight: 500;
  }
  
  .link--icon {
    color: var(--clr-fg);
  }
  
  .btn {
    display: block;
    cursor: pointer;
    padding: 0.8em 1.4em;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: lowercase;
    transition: transform 0.2s ease-in-out;
  }
  
  .btn--outline {
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .btn--outline:hover,
  .btn--outline:focus {
    color: var(--clr-bg);
  }
  
  .btn--outline:before {
    content: '';
    position: absolute;
    background-color: var(--clr-primary);
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in-out;
  }
  
  .btn--outline:hover:before,
  .btn--outline:focus:before {
    right: 0;
  }
  
  .btn--plain {
    text-transform: initial;
    background-color: var(--clr-bg-alt);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 0;
  }
  
  .btn--plain:hover {
    transform: translateY(-4px);
  }
  
  .btn--icon {
    padding: 0;
  }
  
  .btn--icon:hover,
  .btn--icon:focus {
    color: var(--clr-primary);
  }
  
  .btn--icon:active {
    transform: translateY(-5px);
  }
  
  @media (max-width: 600px) {
    .section {
      margin-top: 4em;
    }
  }
  
  .home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 2rem;
  }
  
  .home__content {
    text-align: left;
  }
  
  .home__title {
    font-size: 3rem;
    font-weight: 800; /* Adjust the font weight as desired */
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }
  

  .home__subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  .home__bullet-points {
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .home__role {
    margin-bottom: 0.5rem;
    list-style-type: none;
    padding-left: 0; /* Remove default padding */
  }

  .btn {
    display: inline-block;
    width: fit-content;
    padding: 0.1em;
  }
  