.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3em 0;
  text-align: center;
  background-color: var(--clr-bg);
  color: var(--clr-fg);
  z-index: 1;
  transition: background-color 0.2s ease-in-out;
}

.light .footer {
  background-color: var(--clr-bg-alt);
  color: var(--clr-fg-alt);
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-fg);
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
